.wrapper {
  margin: 0 auto;
  padding: 0 1em;
  padding-bottom: 4em;
  width: 100%;
  max-width: 1500px;
}

.section-padding {
  padding: 10em 1em;
}

.section-heading {
  position: relative;
  margin-bottom: 2em;
  margin-top: 1em;
  font-size: 5rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  color: #252422;
}

.diagonal-lines {
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(20deg, transparent, transparent 10px, rgba(85, 84, 82, 0.11) 5px, rgba(236, 189, 118, 0.116) 14px);
}

section {
  overflow: hidden;
}

.block {
  position: absolute;
  height: 50px;
  width: 40%;
  background-color: rgb(250, 248, 248);
}
.block-left {
  bottom: 0;
  left: -50px;
  transform: skew(60deg);
}
.block-left--dark {
  background-color: #231f20;
}
.block-right {
  top: 0;
  right: -50px;
  transform: skew(60deg);
}
.block-right--dark {
  background-color: #231f20;
}

.nav-style-scroll {
  color: #252422 !important;
  background-color: #fff;
}

.navBurger-style-scroll {
  border-color: #252422;
}

.item-color-one {
  color: #252422 !important;
}

.item-color-two {
  color: #e79107;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Hind Siliguri", sans-serif;
  font-family: "Poppins", sans-serif;
  background-color: rgb(250, 248, 248);
}

.nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 1.5em 2em 3em;
  width: 100%;
  color: #fff;
  transition: background-color 1s, color 1s;
  z-index: 10000;
}
.nav--white {
  color: #252422 !important;
  background-color: #fff !important;
}
.nav__logo {
  font-size: 2.5rem;
}
.nav__logo p {
  margin-bottom: 0;
}
.nav__menu {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform 0.3s;
  z-index: 100;
}
.nav__menu--active {
  transform: translateX(0);
}
.nav__menu-item {
  padding: 1em 0;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  color: #252422;
  transition: color 0.3s;
}
.nav__menu-item:hover {
  color: #e79107;
}
.nav__menu-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav__menu-box hr {
  width: 100%;
}
.nav__burger {
  padding: 1em;
  cursor: pointer;
}
.nav__burger-box {
  position: relative;
  height: 20px;
  width: 30px;
}
.nav__burger-bars, .nav__burger-bars::after, .nav__burger-bars::before {
  position: absolute;
  right: 0;
  height: 2px;
  content: "";
  background-color: #f0e9e9;
  transition: 0.2s;
}
.nav__burger-bars--dark, .nav__burger-bars--dark::after, .nav__burger-bars--dark::before {
  background-color: #252422 !important;
}
.nav__burger-bars--dark-scroll, .nav__burger-bars--dark-scroll::after, .nav__burger-bars--dark-scroll::before {
  background-color: #252422 !important;
}
.nav__burger-bars {
  width: 100%;
}
.nav__burger-bars::after {
  top: 10px;
  width: 60%;
}
.nav__burger-bars::before {
  top: 20px;
  width: 30%;
  transition-delay: 0.1s;
}
.nav__burger:hover .nav__burger-bars::after,
.nav__burger:hover .nav__burger-bars::before {
  width: 100%;
}
.nav__items {
  display: none;
}

.header {
  position: relative;
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 3em;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.header-carousel {
  display: none;
}
.header-first {
  background-image: linear-gradient(rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0.76)), url("../img/header-min-1.jpg");
}
.header-second {
  background-image: linear-gradient(rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0.76)), url("../img/header-min-2.jpg");
}
.header-third {
  background-image: linear-gradient(rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0.76)), url("../img/header-big-3.jpg");
}
.header__text {
  font-size: calc(13vmin + 8 * (5vw - 500px) / 400);
  text-transform: uppercase;
  color: #fff;
}
.header__btn {
  margin-top: 1.5em;
  padding: 0.5em 1em;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #e79107;
  border-radius: 5px;
  transition: transform 0.3s;
}
.header__btn:hover {
  transform: scale(1.1);
  color: #fff;
  background-color: #ff9f00;
}

.about-me {
  position: relative;
}
.about-me__box {
  overflow: hidden;
}
.about-me__contents {
  padding: 2em;
  text-align: center;
  color: #fff;
  background-color: #e79107;
}
.about-me__title {
  margin: 0.5em 0;
  font-size: 3rem;
  font-weight: 700;
}
.about-me__text {
  font-size: 1.6rem;
}
.about-me__img {
  padding: 2em;
  height: 45vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  transition: transform 0.2s;
}
.about-me__img--first {
  background-image: url("../img/about-1.jpg");
}
.about-me__img--second {
  background-image: url("../img/about-2.jpg");
}
.about-me__img--third {
  background-image: url("../img/about-3.jpg");
}
.about-me__img--fourth {
  background-image: url("../img/about-4.jpg");
}

.offers {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.795)), url("../img/offers-bg-min.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.offers hr {
  margin: 1.5em 0;
}
.offers .wrapper {
  max-width: 1250px;
}
.offers .section-heading {
  color: #fff;
}
.offers__depicition {
  position: relative;
  text-align: center;
  letter-spacing: 0.5px;
  color: #fff;
}
.offers .section-heading {
  margin-bottom: 0.5em;
}
.offers__content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: 4em;
}
.offers__box {
  margin-bottom: 2em;
  margin-right: 2em;
  max-width: 270px;
  background-color: #fff;
  border-right: 4px solid #e79107;
}
.offers__description {
  position: relative;
  padding: 1em 2em;
  padding-bottom: 10em;
  min-height: 420px;
  overflow: hidden;
}
.offers__title {
  margin: 1em 0;
  font-size: 2.4rem;
  text-align: center;
  text-transform: uppercase;
}
.offers__text {
  font-size: 1.4rem;
}
.offers__price {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1em;
  width: 100%;
  text-align: center;
  background-color: #e79107;
  transition: 0.3s;
  z-index: 1000;
}
.offers__price span {
  color: #fff;
  font-size: 1.8rem;
}
.offers__price:hover {
  transform: scale(1.2);
  background-color: #ff9f00;
}
.offers__img {
  overflow: hidden;
}
.offers__img img {
  height: 300px;
  width: 270px;
  transition: transform 0.5s ease 0s;
}
.offers__img img:hover {
  transform: scale(1.2);
}

.contact {
  padding: 5em 3em;
  padding-top: 12em;
  color: #fff;
  background-color: #231f20;
  z-index: 1;
}
.contact hr {
  margin: 4em 0 4em 0;
}
.contact__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.contact__logo {
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
}
.contact__logo-first {
  margin-bottom: 0.5em;
}
.contact__logo-second {
  display: none;
}
.contact__data {
  margin-bottom: 1em;
  font-size: 1.6rem;
  font-weight: 300;
}
.contact__data i {
  margin-right: 1em;
}
.contact__social {
  margin-top: 0.5em;
  font-size: 2.5rem;
}
.contact__social a {
  padding-right: 1em;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}
.contact__social a:hover {
  color: #ff9f00;
}
.contact__heading {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}
.contact__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact__box form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 720px;
  min-width: 205px;
}
.contact__box form textarea {
  min-height: 110px;
  max-height: 200px;
  min-width: 100%;
  max-width: 100%;
}
.contact__btn {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  padding: 1em 1em;
  width: 16em;
  font-size: 1.3rem;
  font-weight: 300;
  color: #fff;
  background: none;
  background-color: #e79107;
  border: none;
  transition: background-color 0.3s;
  cursor: pointer;
}
.contact__btn:hover {
  background-color: #ff9f00;
}
.contact__btn i {
  font-size: 2rem;
}
.contact__name {
  margin: 1em 0 0.4em 0;
  font-size: 1.4rem;
  font-weight: 300;
}
.contact__input {
  padding: 1em 1.5em;
  font-size: 1.3rem;
}

.opinions {
  position: relative;
}
.opinions__box {
  position: relative;
  margin: 5em 2em;
  padding: 2em;
  min-height: 445px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(46, 46, 46, 0.1803921569);
  transition: transform 0.3s;
}
.opinions__box:hover {
  transform: scale(0.95);
}
.opinions__box-img {
  position: absolute;
  top: -40px;
  left: 30px;
}
.opinions__box-img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.opinions__box-icon {
  text-align: right;
}
.opinions__box-icon i {
  font-size: 2rem;
  color: #ff9f00;
}
.opinions__box-text {
  margin-top: 2em;
  font-size: 1.4rem;
}
.opinions__box-name {
  font-size: 1.4rem;
  margin-top: 0.5em;
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #231f20;
}
.footer__text {
  padding: 1em 0;
  font-size: 1.3rem;
  color: #fff;
}
.footer a {
  text-decoration: none;
  color: #e79107;
  transition: color 0.3s;
}
.footer a:hover {
  color: #ff9f00;
}/*# sourceMappingURL=main.css.map */