@import './components';
@import './colors';

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Hind Siliguri', sans-serif;
	font-family: 'Poppins', sans-serif;
	// background-color: #cdd2d6de;
	// background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url('../img/pexels-henry-&-co-1939485.jpg');
	// background-position: center;
	// background-size: cover;
	// background-attachment: fixed;
	// background-color: linear-gradient(#F5F7FA,#B8C6DB );
	// background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);

	background-color: rgb(250, 248, 248);
}

// ------------------------------------------------------
// NAV
// ------------------------------------------------------

.nav {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
	color: $main-color;
	padding: 2em 1.5em 2em 3em;
	width: 100%;
	transition: background-color 1s, color 1s;

	&--white {
		background-color: $main-color !important;
		color: $item-color !important;
	}

	&__logo {
		font-size: 3rem;
	}

	&__menu {
		position: absolute;
		top: 87px;
		left: 0;
		width: 100%;
		transform: translateX(100%);
		background-color: $main-color;
		z-index: 100;
		transition: transform 0.3s;

		&--active {
			transform: translateX(0);
		}

		&-item {
			color: $main-color;
			text-transform: uppercase;
			font-size: 1.5rem;
			font-weight: 400;
			text-decoration: none;
			color: $item-color;
			padding: 1em 0;
			transition: color 0.3s;

			&:hover {
				color: #e79107;
			}
		}

		&-box {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			hr {
				width: 100%;
			}
		}
	}

	&__burger {
		padding: 1em;
		cursor: pointer;

		&-box {
			position: relative;
			height: 20px;
			width: 30px;
		}

		&-bars,
		&-bars::after,
		&-bars::before {
			position: absolute;
			height: 2px;
			content: '';
			right: 0;
			background-color: $nav-bars;
			transition: 0.2s;
		}

		&-bars--dark,
		&-bars--dark::after,
		&-bars--dark::before {
			background-color: $item-color !important;
		}

		&-bars--dark-scroll,
		&-bars--dark-scroll::after,
		&-bars--dark-scroll::before {
			background-color: $item-color !important;
		}

		&-bars {
			width: 100%;
		}
		&-bars::after {
			top: 10px;
			width: 60%;
		}

		&-bars::before {
			top: 20px;
			width: 30%;
			transition-delay: 0.1s;
		}

		&:hover {
			.nav__burger-bars::after,
			.nav__burger-bars::before {
				width: 100%;
			}
		}
	}

	&__items {
		display: none;
	}
}

// ------------------------------------------------------
// HEADER
// ------------------------------------------------------

.header {
	position: relative;
	height: 100vh;
	width: 100%;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding-left: 3em;

	&-carousel {
		display: none;
	}

	&-zero {
		background-image: $linear, url('../img/header-min-1.jpg');
	}

	&__text {
		color: $main-color;
		font-size: 3rem;
		text-transform: uppercase;
		font-size: calc(13vmin + 8 * (5vw - 500px) / 400);
	}

	&__btn {
		text-decoration: none;
		text-transform: uppercase;
		font-size: 2rem;
		margin-top: 1.5em;
		padding: 0.5em 1em;
		border-radius: 5px;
		color: $main-color;
		background-color: #e79107;
		-webkit-box-shadow: 0px 1px 23px -6px rgba(231, 145, 7, 1);
		-moz-box-shadow: 0px 1px 23px -6px rgba(231, 145, 7, 1);
		box-shadow: 0px 1px 23px -6px rgba(231, 145, 7, 1);
		transition: transform 0.3s;

		&:hover {
			transform: scale(1.1);
			background-color: #ff9f00;
			color: $main-color;
		}
	}
}

// ------------------------------------------------------
// ABOUT-ME
// ------------------------------------------------------

.about-me {
	&__box {
		overflow: hidden;
	}
	&__contents {
		padding: 2em;
		background-color: #f19707;
		color: $main-color;
		text-align: center;
	}

	&__title {
		font-size: 2.5rem;
		margin: 0.5em 0;
		font-weight: 700;
	}

	&__text {
		font-size: 1.8rem;
	}

	&__img {
		height: 45vh;
		padding: 2em;
		width: 100%;
		background-position: center;
		background-size: cover;
		transition: transform 0.2s;

		// &:hover{
		// 	transform: scale(1.05);
		// 	-webkit-transform: scale(1.05);
		// 	-moz-transform: scale(1.05);

		// }

		&--first {
			background-image: url('../img/header-min-1.jpg');
		}

		&--second {
			background-image: url('../img/about-1.jpg');
		}

		&--third {
			background-image: url('../img/about-2.jpg');
		}

		&--fourth {
			background-image: url('../img/about-3.jpg');
		}
	}
}

// ------------------------------------------------------
// OFFERS
// ------------------------------------------------------

.offers {
	// background-color: #f1f1f1 !important;
	background-image: $linear-offers, url('../img/sports-966991_1920.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	.wrapper {
		max-width: 1250px;
	}

	.section-heading{
		color: $main-color;
	}

	&__depicition {
		position: relative;
		text-align: center;
		color: $main-color;
		letter-spacing: 0.5px;
		font-size: 2rem !important;

	}

	.section-heading {
		margin-bottom: 0.5em;
	}

	&__content {
		margin-top: 4em;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: center;
	}

	&__box {
		background-color: $main-color;
		max-width: 270px;
		margin-bottom: 2em;
		margin-right: 2em;

		border-right: 4px solid #ff9f00;
	}

	&__description {
		position: relative;
		padding: 1em 2em;
		padding-bottom: 10em;
		min-height: 420px;
		overflow: hidden;
	
	}

	&__title {
		text-align: center;
		font-size: 2.4rem;
		margin: 1em 0;
		text-transform: uppercase;
	}

	&__text {
		font-size: 1.4rem;
	}

	&__price {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		background-color: #ff9f00;
		text-align: center;
		padding: 1em ;
		z-index: 1000;
		transition: transform 0.5s ease 0s;

		span{
			color: $main-color;
			font-size: 1.8rem;
		}

		&:hover{
			transform: scale(1.2);
		}
		
	}

	&__img {
		overflow: hidden;

		img {
			height: 300px;
			width: 270px;
			transition: transform 0.5s ease 0s;
			&:hover {
				transform: scale(1.2);
			}
		}
	}
}

@media (min-width: 576px) {
	// ------------------------------------------------------
	// NAV
	// ------------------------------------------------------

	.nav {
		padding: 2em 2em 2em 4em;

		&__menu {
			&-item {
				font-size: 2rem;
			}
		}
	}
	// ------------------------------------------------------
	// HEADER
	// ------------------------------------------------------

	.header {
		padding-left: 6em;

		&__btn {
			font-size: 2.5rem;
			margin-top: 1.5em;
			padding: 0.5em 1em;
		}
	}

	// ------------------------------------------------------
	// OFFERS
	// ------------------------------------------------------

	.offers {
		&__box {
			max-width: 420px;
			margin-bottom: 3em;
			margin-right: 3em;
		}

		&__img {
			img {
				height: 470px;
				width: 420px;
			}
		}
	}
}

@media (min-width: 768px) {
	// ------------------------------------------------------
	// NAV
	// ------------------------------------------------------

	.nav {
		padding: 2em 2.5em 2em 5em;

		&__menu {
			&-item {
				font-size: 2.5rem;
			}
		}
	}
	// ------------------------------------------------------
	// HEADER
	// ------------------------------------------------------

	.header {
		padding-left: 8em;

		&__text {
			font-size: calc(10vmin + 8 * (5vw - 500px) / 400);
		}

		&__btn {
			font-size: 2.7rem;
			margin-top: 1.5em;
			padding: 0.5em 1em;
		}
	}

	// ------------------------------------------------------
	// ABOUT-ME
	// ------------------------------------------------------

	.about-me {
		&__title {
			font-size: 3rem;
		}

		&__text {
			font-size: 3rem;
		}
	}

	// ------------------------------------------------------
	// OFFERS
	// ------------------------------------------------------

	.offers {
		&__description {
			min-height: 1176px;
		}

		&__box {
			max-width: 345px;
		}
		&__title {
			font-size: 3rem;
		}

		&__text {
			font-size: 2rem;
		}

		&__img {
			img {
				height: 385px;
				width: 345px;
			}
		}
	}
}





@media (min-width: 992px) {
	// ------------------------------------------------------
	// NAV
	// ------------------------------------------------------

	.nav {
		padding: 2em 5em 2em 5em;

		&__menu {
			display: none;
		}

		&__burger {
			display: none;
		}

		&__items {
			display: block;
		}

		&__item {
			text-decoration: none;
			font-size: 2rem;
			color: $main-color;
			padding: 0.2em 1em;
			font-weight: 500;
			transition: color 0.3s;

			&:hover {
				color: #e79107;
			}
		}
	}
	// ------------------------------------------------------
	// HEADER
	// ------------------------------------------------------

	.header {
		padding-left: 10em;

		&-zero {
			display: none;
		}

		&-carousel {
			display: block;
		}

		&-first {
			background-image: $linear, url('../img/header-big-1.jpg');
		}

		&-second {
			background-image: $linear, url('../img/header-big-2.jpg');
		}

		&-third {
			background-image: $linear, url('../img/header-big-3.jpg');
		}

		&__text {
			font-size: calc(9vmin + 8 * (5vw - 500px) / 400);
		}

		&__btn {
			font-size: 3rem;
			margin-top: 1.5em;
			padding: 0.5em 1em;
		}
	}

	// ------------------------------------------------------
	// ABOUT-ME
	// ------------------------------------------------------

	.about-me {
		&__img {
			height: 53vh;
		}

		&__title {
			font-size: 2.5rem;
		}

		&__text {
			font-size: 1.7rem;
		}

		&__box {
			display: flex;

			&-second {
				.about-me__contents--first {
					order: 1;
				}
				.about-me__img--third {
					order: 0;
				}

				.about-me__contents--second {
					order: 3;
				}

				.about-me__img--fourth {
					order: 2;
				}
			}
		}

		&__contents {
			width: 50%;
		}
		&__img {
			width: 50%;
		}
	}

	// ------------------------------------------------------
	// OFFERSE
	// ------------------------------------------------------

	.offers {
		&__description {
			min-height: 825.19px;
		}

		&__description {
			padding: 2em;
			padding-bottom: 10em;
		}
		&__title {
			font-size: 2.6rem;
		}

		&__text {
			font-size: 1.6rem;
		}

		&__img {
			img {
				height: 400px;
				width: 360px;
			}
		}
		&__price{
			font-size: 2rem;
		}
	}
}

@media (min-width: 1200px) {
	// ------------------------------------------------------
	// NAV
	// ------------------------------------------------------

	.nav {
		padding: 2em 10em 2em 10em;

		&__item {
			font-size: 2.5rem;
		}
	}
	// ------------------------------------------------------
	// HEADER
	// ------------------------------------------------------

	.header {
		padding-left: 20em;

		&__text {
			font-size: calc(11vmin + 8 * (5vw - 500px) / 400);
		}

		&__btn {
			font-size: 3rem;
			margin-top: 1.5em;
			padding: 0.5em 1em;
		}
	}

	// ------------------------------------------------------
	// ABOUT-ME
	// ------------------------------------------------------

	.about-me {
		&__img {
			height: 45vh;
		}

		&__title {
			font-size: 3rem;
		}

		&__text {
			font-size: 1.9rem;
		}
	}

	// ------------------------------------------------------
	// OFFERSE
	// ------------------------------------------------------

	.offers {
		&__description {
			min-height: 972.19px;
		}

		&__box {
			max-width: 360px;
		}



		&__text {
			font-size: 1.8rem;
		}

		&__img {
			img {
				height: 400px;
				width: 360px;
			}
		}
	}
}

@media (min-width: 1400px) {

		// ------------------------------------------------------
	// OFFERSE
	// ------------------------------------------------------

	.offers{

		.wrapper {
			max-width: 1500px;
		}

		&__box{
			margin-right: 0;
			&-middle{

				margin: 0 10em;

			}
		}
	}
}
